.footer__container {
  background-color: #6d0405;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
  width: 100%;
}
.footer__info {
  width: 70%;
}
.footer__info--title {
  margin-bottom: 2rem;
}
.footer__info--text {
  text-align: justify;
}
.footer__links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}