.header__container {
  background-color: #6d0405;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__logo {
  transition: all 3s ease-in-out;
}
.header__logo:hover {
  color: #e9ca18;
}
.header__nav {
  display: flex;
  gap: 4rem;
}
.header__nav--link {
  transition: all 3s ease-in-out;
}
.header__nav--link:hover {
  color: #e9ca18;
}

.footer__container {
  background-color: #6d0405;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  gap: 20%;
}
.footer__info {
  color: #206a5d;
}
.footer__info--title {
  margin-bottom: 2rem;
}
.footer__info--text {
  text-align: justify;
}
.footer__links {
  flex-basis: 5%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}